In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       400 non-null    int64
 1   CRIM     400 non-null    float64
 2   ZN       400 non-null    float64
 3   INDUS    400 non-null    float64
 4   CHAS     400 non-null    int64
 5   NOX      400 non-null    float64
 6   RM       400 non-null    float64
 7   AGE      400 non-null    float64
 8   DIS      400 non-null    float64
 9   RAD      400 non-null    int64
 10  TAX      400 non-null    float64
 11  PTRATIO  400 non-null    float64
 12  B        400 non-null    float64
 13  LSTAT    400 non-null    float64
 14  MEDV     400 non-null    float64
dtypes: float64(12), int64(3)
memory usage: 47.0 KB

In [5]:
df.corr()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
ID,1.000000,-0.009895,-0.037340,0.005167,-0.034274,-0.034631,0.061728,-0.031016,0.010385,-0.031669,-0.007460,0.056734,-0.030764,-0.019382,0.006956
CRIM,-0.009895,1.000000,-0.193548,0.409972,-0.060591,0.422635,-0.205928,0.353379,-0.376323,0.618538,0.577501,0.284967,-0.357581,0.442743,-0.393693
ZN,-0.037340,-0.193548,1.000000,-0.522218,-0.037318,-0.497638,0.290127,-0.554214,0.659949,-0.301067,-0.300221,-0.369974,0.161515,-0.402116,0.336805
INDUS,0.005167,0.409972,-0.522218,1.000000,0.075305,0.759132,-0.396865,0.631742,-0.695199,0.608088,0.731619,0.370383,-0.338007,0.624374,-0.502898
CHAS,-0.034274,-0.060591,-0.037318,0.075305,1.000000,0.084020,0.091267,0.083314,-0.102016,-0.023792,-0.045183,-0.137556,0.040732,-0.055326,0.182096
NOX,-0.034631,0.422635,-0.497638,0.759132,0.084020,1.000000,-0.283907,0.736349,-0.768775,0.602960,0.657875,0.154693,-0.382202,0.622209,-0.434271
RM,0.061728,-0.205928,0.290127,-0.396865,0.091267,-0.283907,1.000000,-0.198918,0.171596,-0.190030,-0.277064,-0.336408,0.120518,-0.634758,0.721489
AGE,-0.031016,0.353379,-0.554214,0.631742,0.083314,0.736349,-0.198918,1.000000,-0.750408,0.457339,0.499478,0.234894,-0.274650,0.593788,-0.354106
DIS,0.010385,-0.376323,0.659949,-0.695199,-0.102016,-0.768775,0.171596,-0.750408,1.000000,-0.492090,-0.520442,-0.185938,0.274036,-0.503383,0.235087
RAD,-0.031669,0.618538,-0.301067,0.608088,-0.023792,0.602960,-0.190030,0.457339,-0.492090,1.000000,0.911103,0.458930,-0.395845,0.503532,-0.386922
TAX,-0.007460,0.577501,-0.300221,0.731619,-0.045183,0.657875,-0.277064,0.499478,-0.520442,0.911103,1.000000,0.450978,-0.400353,0.552239,-0.479308
PTRATIO,0.056734,0.284967,-0.369974,0.370383,-0.137556,0.154693,-0.336408,0.234894,-0.185938,0.458930,0.450978,1.000000,-0.155939,0.352839,-0.495904
B,-0.030764,-0.357581,0.161515,-0.338007,0.040732,-0.382202,0.120518,-0.274650,0.274036,-0.395845,-0.400353,-0.155939,1.000000,-0.343821,0.317910
LSTAT,-0.019382,0.442743,-0.402116,0.624374,-0.055326,0.622209,-0.634758,0.593788,-0.503383,0.503532,0.552239,0.352839,-0.343821,1.000000,-0.725281
MEDV,0.006956,-0.393693,0.336805,-0.502898,0.182096,-0.434271,0.721489,-0.354106,0.235087,-0.386922,-0.479308,-0.495904,0.317910,-0.725281,1.000000

In [6]:
df=df.drop('ID',axis=1)

Because of low corr we have to drop the feature CHAS

In [7]:
df=df.drop('CHAS',axis=1)

In [8]:
df.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.95577,0.0,8.14,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,0.02875,28.0,15.04,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,1.22358,0.0,19.58,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,5.66637,0.0,18.10,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,0.04544,0.0,3.24,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [9]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 6)

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(fit_intercept = True)
regressor.fit(X_train, y_train) #Learning happens - GD is done and we get the final values of m and c
print(regressor.intercept_) # c
print(regressor.coef_) #m

23.133214285714285
[-1.25825932  0.71857354  0.25322167 -2.23146797  3.05425318  0.33290722
 -2.93433972  3.10726465 -2.51214712 -2.41347858  0.94881417 -3.61642247]

In [36]:
y_pred = regressor.predict(X_test) # given the features of the test dataset, it will give the final predictions
y_pred

array([22.06488909, 25.52854188,  6.8320514 , 14.92647475, 30.05995322,
       22.65722325, 24.44475581, 25.42947029, 19.95863896, 24.98389125,
       29.74484275, 36.90293719, 17.0873162 , 27.23675123, 42.4053495 ,
       33.5239831 , 17.07119652, 24.26502357,  8.13425575, 27.85579302,
       21.59067281, 22.7484475 , 20.15284655,  6.07871984, 17.12258336,
       27.28186925, 30.41081228, 13.82100873, 21.69693089, 26.63214198,
       21.26487784, 27.56736694, 21.84190018, 22.83769207, 18.44976751,
       13.51931751, 27.76394759, 20.62543421,  9.11008977, 18.57220089,
       18.41553025, 31.56951659, 21.87455733, 31.01417616, 20.99155714,
       24.13427514, 24.9142963 , 28.05272976, 18.04167204, 29.18561734,
       18.60365838, 25.49763725, 33.63064872,  7.55794741, 21.66087286,
        7.0484331 , 21.99769955, 20.38978171, 23.11762887, 19.49271804,
       34.5705637 , 20.30503706, 36.35873135, 29.78776075, 28.25400038,
       22.00578397, 28.32217665, 18.52402411, 13.89518679, 29.02478521,
       19.36955251, 29.35650411, 16.17273284, 17.64894799, 20.24398356,
       22.50631636, 25.5033112 , 24.72136196, 27.54891417, 16.90058823,
       22.96259056, 16.86517944, 15.44163056, 20.05353063, 21.41136348,
       23.13464746, 17.37408581, 20.97678923, 22.19852494, 14.36659713,
       23.57721679, 20.05030138,  1.89237317, 13.3308846 , 13.21131574,
       33.03102642, 22.52254268, 15.77532019, 23.6866058 , 22.61200961,
        8.78712349, 25.031336  , 20.43299924, 41.46274542, 26.29093063,
       28.64961835, 18.77578047, 36.3489867 , 22.7038465 , 23.02727576,
       12.2798711 , 21.66809935, 29.14624774, 33.70633364, 21.11667585,
       14.6022769 , 31.27286711, 28.51856943, 30.72342483, 22.34699988])

In [37]:
from sklearn import metrics 
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2- SCORE:', metrics.r2_score(y_test,y_pred))

Mean Absolute Error: 3.091919538498362
Mean Squared Error: 15.48383137728054
R2- SCORE: 0.747300795731135

In [14]:
from sklearn.feature_selection import RFE
estimator = LinearRegression()
selector = RFE(estimator, n_features_to_select=3, step=1)
selector = selector.fit(X_train, y_train)
list(zip(['CRIM', 'ZN', 'INDUS',
       'NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT'],selector.support_))

[('CRIM', False),
 ('ZN', False),
 ('INDUS', False),
 ('NOX', False),
 ('RM', True),
 ('AGE', False),
 ('DIS', False),
 ('RAD', False),
 ('TAX', False),
 ('PTRATIO', True),
 ('B', False),
 ('LSTAT', True)]

Therefore from above solution i conclude that there are three important feature:
1. ZN = proportion of residential land zoned for lots over 25,000 sq.ft.
2. TAX =  full-value property-tax rate per $10,000
3. PTRATIO= pupil-teacher ratio by town

In [15]:
A = df.iloc[:,:-1]
b = df.iloc[:,-1]

In [16]:
from sklearn.model_selection import cross_validate
regressor = LinearRegression(normalize = True) #untrained model
cv_results = cross_validate(regressor, A, b, cv=10, scoring = "r2")
cv_results['test_score'].mean()

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

0.7129621597468583

In [17]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import Lasso, Ridge
for alpha in [0.001,0.002,0.003,0.005,0.01,0.02,0.03,0.04,0.1,0.2,0.5,1]:
  regressor = Ridge(normalize=True,alpha = alpha)
  cv_results = cross_validate(regressor, A, b, cv=5, scoring = "r2" , return_train_score=True)
  print("Alpha : ", alpha, cv_results['test_score'].mean(), cv_results['train_score'].mean())

Alpha :  0.001 0.7147033293958394 0.7437856253024442
Alpha :  0.002 0.7148062285262071 0.7437750651934074
Alpha :  0.003 0.7148998353275889 0.7437580926143006
Alpha :  0.005 0.7150616049644162 0.7437067280252512
Alpha :  0.01 0.7153412330986346 0.7434942761845938
Alpha :  0.02 0.7155190861785687 0.7428222153699691
Alpha :  0.03 0.7153754352445001 0.7419560241204654
Alpha :  0.04 0.7150359607669996 0.740984114881916
Alpha :  0.1 0.7112764667480288 0.7344809188070383
Alpha :  0.2 0.7028186817776219 0.7233154353702225
Alpha :  0.5 0.6728886462055799 0.6898547116712159
Alpha :  1 0.6229739752164687 0.638160162010626

From the above solution we take alpha as 0.02

In [18]:

lasso = Lasso(alpha=0.02)
lasso.fit(X_train,y_train)
train_score=lasso.score(X_train,y_train)
test_score=lasso.score(X_test,y_test)

In [19]:
train_score

0.7296305793471027

In [20]:
test_score

0.7492164966898156

# Take the test dataset and make the predictions

In [22]:
df1=pd.read_csv('test.csv')

In [23]:
df1=df1.drop('ID',axis=1)

In [24]:
df1=df1.drop('CHAS',axis=1)

In [25]:
x=df1.iloc[:,:]
x

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.10612,30.0,4.93,0.428,6.095,65.1,6.3361,6,300.0,16.6,394.62,12.40
1,0.34109,0.0,7.38,0.493,6.415,40.1,4.7211,5,287.0,19.6,396.90,6.12
2,12.24720,0.0,18.10,0.584,5.837,59.7,1.9976,24,666.0,20.2,24.65,15.69
3,0.22489,12.5,7.87,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45
4,1.80028,0.0,19.58,0.605,5.877,79.2,2.4259,5,403.0,14.7,227.61,12.14
...,...,...,...,...,...,...,...,...,...,...,...,...
100,0.19073,22.0,5.86,0.431,6.718,17.5,7.8265,7,330.0,19.1,393.74,6.56
101,6.96215,0.0,18.10,0.700,5.713,97.0,1.9265,24,666.0,20.2,394.43,17.11
102,0.05360,21.0,5.64,0.439,6.511,21.1,6.8147,4,243.0,16.8,396.90,5.28
103,0.10469,40.0,6.41,0.447,7.267,49.0,4.7872,4,254.0,17.6,389.25,6.05
104,4.55587,0.0,18.10,0.718,3.561,87.9,1.6132,24,666.0,20.2,354.70,7.12

## prediction

In [55]:
pred=regressor.predict(scaler.fit_transform(x))

In [56]:
data={'MEDV':pred}

In [57]:
df3=pd.DataFrame(data)
df3

          MEDV
0    25.043328
1    26.399593
2    16.113561
3    21.173586
4    24.704351
..         ...
100  25.064832
101  17.555743
102  28.972042
103  34.583366
104  13.236322

[105 rows x 1 columns]

In [58]:
a=[df1,df3]

In [59]:
df4=pd.concat(a,axis=1)
df4

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.10612,30.0,4.93,0.428,6.095,65.1,6.3361,6,300.0,16.6,394.62,12.40,25.043328
1,0.34109,0.0,7.38,0.493,6.415,40.1,4.7211,5,287.0,19.6,396.90,6.12,26.399593
2,12.24720,0.0,18.10,0.584,5.837,59.7,1.9976,24,666.0,20.2,24.65,15.69,16.113561
3,0.22489,12.5,7.87,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45,21.173586
4,1.80028,0.0,19.58,0.605,5.877,79.2,2.4259,5,403.0,14.7,227.61,12.14,24.704351
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,0.19073,22.0,5.86,0.431,6.718,17.5,7.8265,7,330.0,19.1,393.74,6.56,25.064832
101,6.96215,0.0,18.10,0.700,5.713,97.0,1.9265,24,666.0,20.2,394.43,17.11,17.555743
102,0.05360,21.0,5.64,0.439,6.511,21.1,6.8147,4,243.0,16.8,396.90,5.28,28.972042
103,0.10469,40.0,6.41,0.447,7.267,49.0,4.7872,4,254.0,17.6,389.25,6.05,34.583366
104,4.55587,0.0,18.10,0.718,3.561,87.9,1.6132,24,666.0,20.2,354.70,7.12,13.236322